svg {
    width: 25%;
    height: auto;
}

h2 {
    color:blueviolet;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#gameArea {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* prevents scrollbars if the SVG is too large */
}
